
<body>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for [@driver,@truck,@driver_truck] do |f| %>
          <% if @driver_truck.errors.any? %>
            <%= pluralize(@driver_truck.errors.count, "Errores") %>
            <% @driver_truck.errors.full_messages.each do |error| %>
              <%= error %>
            <% end %>
          <% end %>
          <p>
          <%= f.label :Conductor  %>
          <%= f.collection_select :driver_id, Driver.all, :id, :first_name, type: "button", class: "btn btn-default btn-sm dropdown-toggle"%>
          </p>
          <p>
          <%= f.label :Camión %>
          <%= f.collection_select :truck_id, Truck.all, :id, :number_plate, type: "button", class: "btn btn-default btn-sm dropdown-toggle" %>
          </p> 

          <p> 
          <%= f.label :Día %> 
          <%= f.text_field :day, class: 'form-control datepicker' %>

     
          </P>
     
          <p>
          <%= f.submit "Aceptar", class: "btn btn-primary"%>
          </p>
        <% end %>
      </div>
  </div>
</body>