<h1>Editar cuenta</h1>
<div class="row"> 
  <div class="col-md-6 col-md-offset-3"> 
    <%= form_for @user do |f| %>
 
      
      <div class="field">
        <%= f.label :nombre %><br/>
        <%= f.text_field :first_name, autofocus: true, autocomplete: "off", class: 'form-control' %>
      </div> 

      <div class="field">
        <%= f.label :apellido %><br/>
        <%= f.text_field :last_name, autofocus: true, autocomplete: "off", class: 'form-control' %>
      </div>

      <div class="field">
          <%=f.label :Rol %>
          <div>
          <%= f.label :Rol, "Admin ", :value => "admin" %>
          <%= f.radio_button :role, "admin" %>
          <%= f.label :Rol, "Empleado", :value => "employee" %>
          <%= f.radio_button :role, "employee" %>
          </div>
      </div>

      <p> 
      <div class="actions">
        <%= f.submit "Aceptar", class: "btn btn-primary"%>
      </div>
      </p>
    <% end %>

    <%= link_to "Atrás", :back %>
  </div> 
</div>