
<body>
  <div class="row">
    <div class="col-md-6">
        <%= form_for(@client) do |f| %>


          <% if @client.errors.any? %>
            <ul class = "alert alert-warning">
            <%= pluralize(@client.errors.count, "Errores") %>
            <% @client.errors.full_messages.each do |error| %>
                <li><%= error %></li>
              <% end %>
            </ul>
          <% end %>
          <p>
          <%= f.label :first_name, "Nombre" %>
          <%= f.text_field :first_name, class: 'form-control', autocomplete: 'off', placeholder: "Ingresa nombre" %>
          </p>
          <p>
          <%= f.label :Apellido %>
          <%= f.text_field :last_name, class: 'form-control', autocomplete: 'off', placeholder: "Ingresa apellido" %>
          </p>
          <p>
          <%= f.label :Correo %>
          <%= f.email_field :email, class: 'form-control', autocomplete: 'off' , placeholder: "ejemplo@email.com"%>
          </p>
          <p>
          <%= f.label :Telefono %>
          <%= f.text_field :phone, class: 'form-control', autocomplete: 'off' , placeholder: "+56 9 0000 0000"%>
          </p>
          <p>
          <%= f.label :Direccion %>
          <%= f.text_field :address, class: 'form-control', placeholder: "Ingresa dirección" %>
          </p>
          <p>
          <%= f.label :RUT %>

          <%= f.text_field :rut, class: 'form-control', autocomplete: 'off', id: 'rut', placeholder: "12.345.678-9" %>


          <p>
          <%= f.submit "Guardar", class: "btn btn-primary"%>
          </p>
        <% end %>
      </div>
  </div>
</body>
