
<body>

      <div class="col-md-6 col-md-offset-3">
        <%= form_for [@client,@product,@order] do |f| %>
          <% if @order.errors.any? %>
            <%= pluralize(@order.errors.count, "Errores") %>
            <% @order.errors.full_messages.each do |error| %>
              <%= error %>
            <% end %>
          <% end %>

          <p> 
            <%= f.label :Fecha_de_entrega %>
            <div class='input-group date' id='datetimepicker'>
              <%= f.text_field :delivery_date, class: 'form-control', autocomplete: 'off' %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </P>


          <p>
          <%= f.label :Cantidad %>
          <%= f.text_field :amount, class: 'form-control' %>
          </p>
          <p>
          <%= f.label :Cliente %>
          <%= f.collection_select :client_id, Client.all, :id, :first_name, type: "button", class: "btn btn-default btn-sm dropdown-toggle"%>
          </p>
          <p>
          <%= f.label :Producto %>
          <%= f.collection_select :product_id, Product.all, :id, :liters, type: "button", class: "btn btn-default btn-sm dropdown-toggle"%>
          </p>
          <p>
          <%= f.label :Camion %>
          <%= f.collection_select :truck_id, Truck.all, :id, :number_plate, type: "button", class: "btn btn-default btn-sm dropdown-toggle"%>
          </p>
          <p>
          <%= f.submit "Aceptar", class: "btn btn-primary" %>
          </p>
        <% end %>


    </div>

</body>
