
<body>
  <div class="row">
    <div class="col-md-6">
        <%= form_with(model: driver, local: true) do |f| %>


          <% if driver.errors.any? %>
            <ul class = "alert alert-warning">
              <%= pluralize(driver.errors.count, "Errores") %>
              <% driver.errors.full_messages.each do |error| %>
                <li><%= error %></li>
              <% end %>
            </ul>
          <% end %>
          <p>
          <%= f.label :Nombre %>
          <%= f.text_field :first_name, class: 'form-control', autocomplete: 'off', style: 'text-transform:capitalize;' , placeholder: "Ingresa tu nombre" %>
          </p>
          <p>
          <%= f.label :Apellido %>
          <%= f.text_field :last_name, class: 'form-control', autocomplete: 'off', style: 'text-transform:capitalize;' , placeholder: "Ingresa tu apellido" %>
          </p>
          <p>
          <%= f.label :RUT %>
          <%= f.text_field :rut, class: 'form-control', autocomplete: 'off', id: 'rut' , placeholder: "12.345.678-9" %>
          </p>
          <p>
          <%= f.label :Sueldo %>
          <%= f.text_field :income, class: 'form-control', autocomplete: 'off' , placeholder: "10000" %>
          </p>
          <p>
          <%=f.label :Vigencia %>
          <div>
          <%= f.label :Vigencia, "Activo ", :value => true %>
          <%= f.radio_button :license, true %>
          <%= f.label :Vigencia, " Inactivo", :value => false %>
          <%= f.radio_button :license, false %>
          </div>
          </p>
          <p>
          <%= f.label :Fecha_Nacimiento %>
          <div>
          <%= f.date_select :birthday, :order => [:day, :month, :year], start_year: 1950, autocomplete: 'off' %>
          </div>
          </p>

          <p>
          <%= f.submit "Aceptar", class: "btn btn-primary"%>
          </p>
        <% end %>
      </div>
  </div>
</body>
