


<div class="panel panel-primary">
  <div class="panel-heading"><b>Informacion Conductor</b><td>
  	<%= link_to edit_driver_path(@driver), class: "btn btn-default" do %> 
		<i class="fas fa-user-edit"></i> Editar Conductor</td>
	<% end %>
  </div>
  <div class="panel-body"> 
	<li><b>Nombre: <%=  @driver.fullName %></b></li>
	<li><b>Fecha de nacimiento: <%=  @driver.birthday %></b></li> 
	<li><b>RUT: <%=  @driver.rut %></b></li> 
	<li><b>Sueldo: <%=  @driver.income %></b></li> 
	<li><b>Estado licencia: <%=  @driver.license %></b></li> 

  </div>
</div>