
<body>
  <div class="row">
    <div class="col-md-6">
      <%= form_for(@product) do |f| %>

          <% if @product.errors.any? %>
            <ul class = "alert alert-warning">
              <%= pluralize(@product.errors.count, "Errores") %>
              <% @product.errors.full_messages.each do |error| %>
                <li><%= error %></li>
              <% end %>
            </ul>
          <% end %>
          <p>
          <%= f.label :Litros %></br>
          <%= f.select :liters, options_for_select([1.5,2,2.5,3,20]), include_blank: "Seleccione litros" %>

          </p>
          <p>
          <%= f.label :Precio %>
          <%= f.text_field :price, class: 'form-control' , placeholder: "Ingresar precio del producto" %>
          </p>
          <p>
          <%= f.label :Código_de_producto %>
          <%= f.text_field :product_number, class: 'form-control' , placeholder: "Ingresar codigo de identificacion" %>
          </p>
          <p>
          <%= f.label :Disponibilidad %>
          <%= f.text_field :stock, class: 'form-control',placeholder: "Stock" %>
          </p>
          <p>
          <%= f.label :Detalles %></br>
          <%= f.select :detail, options_for_select(['botella 1.5 lts', 'botella 2.0 lts', 'botella 2.5 lts', 'botella 3 lts', 'dispensador 20 lts']), class: 'form-control', include_blank: "Especificacion del producto"  %>
          </p>
          <p>
          <%= f.submit "Aceptar", class: "btn btn-primary" %>
          </p>
        <% end %>

      </div>
  </div>
</body>
