
<body>
  <div class="row">
    <div class="col-md-6">
      <%= form_for(@product) do |f| %>

          <% if @product.errors.any? %>
            <ul class = "alert alert-warning">
              <%= pluralize(product.errors.count, "Errores") %>
              <% @product.errors.full_messages.each do |error| %>
                <li><%= error %></li>
              <% end %>
            </ul>
          <% end %>
          <p>
          <%= f.label :Litros %>
          <%= f.text_field :liters, class: 'form-control' , placeholder: "ingresar el total de litros" %>
          </p>
          <p>
          <%= f.label :Precio %>
          <%= f.text_field :price, class: 'form-control' , placeholder: "ingresar precio del producto" %>
          </p>
          <p>
          <%= f.label :Código_de_producto %>
          <%= f.text_field :product_number, class: 'form-control' , placeholder: "ingresar codigo de identificacion" %>
          </p>
          <p>
          <%= f.label :Disponibilidad %>
          <%= f.text_field :stock, class: 'form-control',placeholder: "Stock" %>
          </p>
          <p>
          <%= f.label :Detalles %>
          <%= f.text_field :detail, class: 'form-control',placeholder: "Especificacion del producto"  %>
          </p>
          <p>
          <%= f.submit "Aceptar", class: "btn btn-primary" %>
          </p>
        <% end %>

      </div>
  </div>
</body>
