<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Sistema</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav"> 
        <% if user_signed_in? %> 
            <li class="active"><%= link_to root_path do %> <i class="fas fa-home"></i> <% end %> </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Clientes <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a><%= link_to "Ver clientes", clients_path%></a></li>
                <li><a><%= link_to "Agregar Cliente", new_client_url%></a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Pedidos <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a><%= link_to "Ver pedidos", orders_path%></a></li>
                <li><a><%= link_to "Agregar pedido", new_order_url%></a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Productos <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a><%= link_to "Ver productos", products_path%></a></li>
                <li><a><%= link_to "Agregar producto", new_product_url%></a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Conductores <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a><%= link_to "Ver conductores", drivers_path%></a></li>
                <li><a><%= link_to "Agregar conductores", new_driver_url%></a></li>  
                <li><a><%= link_to "Asignar conductor a camión", new_driver_truck_url%></a></li> 
                <li><a><%= link_to "Ver asignaciones", driver_trucks_path%></a></li> 
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Camiones <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a><%= link_to "Ver camiones", trucks_path%></a></li>
                <li><a><%= link_to "Agregar camion", new_truck_url%></a></li>
              </ul>
            </li>
          </ul>  

	        <%= form_with url: search_path, local: true, method: :get, html: { class: "navbar-form navbar-left" } do |form| %>  
	        	<div class = "input-group"> 
	        		<%= form.text_field :q, placeholder: "Buscar", data: { behavior: "autocomplete" }, class: "form-control" %> 
	        		<div class = "input-group-btn"> 
			        	<%= form.button class: "btn btn-success" do %>  
										<i class="fas fa-search"></i>
			        	<% end %>
	        		</div> 
	        	</div>
	        <% end %>	
        		

        <% else %>  
        <% end %>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>  
          <li> <%= link_to destroy_user_session_path, method: :delete  do%><i class="fas fa-sign-out-alt"></i> Cerrar Sesión <% end %></li> 
        <% else %>
          <li> <%= link_to new_user_registration_path do%><i class="fas fa-user"></i> Registrarse <% end %></li> 
          <li> <%= link_to new_user_session_path do %><i class="fas fa-sign-in-alt"></i> Iniciar sesión <% end %></li>  
        <% end %>
      </ul>
    </div>
  </div>
</nav>
