<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/nav'%>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> 
    <script src="jquery.rut.js"></script>
    <%= render 'layouts/shim' %> 
  </head>

  <body>
    <div class = "container"> 
      <% if notice %><div class = "alert alert-info"><%= notice %></div><%end%>
      <% if alert %><div class = "alert alert-warning"><%= alert %></div><%end%>
      <%= yield %>
      </div>
  </body>
</html>
